mixin menu(data)
	.menu
		.menu__mobile.jsMenuTrigger Меню
		.menu__list.jsMenuList
			a(href="#" title="").menu__item Главная
			a(href="#" title="").menu__item Купить пиксели
			a(href="#" title="").menu__item Вопрос-Ответ
			a(href="#" title="").menu__item Пресса
			a(href="#" title="").menu__item Для чего мы это делаем
			a(href="#" title="").menu__item Связаться с нами