mixin footer(data)
	footer.footer
		.wrapper
			.footer__copyrights.
				 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci ab, saepe repellendus nihil sint quia. Error repellat a quibusdam. Enim nulla debitis beatae adipisci voluptatem.
			.footer__share
				img(src="http://placehold.it/310x40" alt="")

