mixin header(data)
	header.header
		.header-top
			.wrapper
				.header__col._logo MILLIONPIXEL.UZ
				.header__col._text
					.header-text._total
						.header-text__item 1 000 000 пикселей
						.header-text__item 1 000 000 pixel
					.header-text._cost
						.header-text__item 1 пиксель = 5.000 сум
						.header-text__item 1 pixel = 5.000 som
					.header-text._leave.
						Оставь свой след в истории узбекского интернета
						Оставь свой след в истории узбекского
				.header__col._free
					.header-free свободно / erkin 964.648 pixel
		.header-bottom
			.wrapper
				+menu			


